.navbar {
  background-color: #1d1b1b;
  min-width: 10%;
  min-height: 100%;
  position: absolute;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "MuseoModerno", cursive;
  font-weight: 300;
  font-size: 48px;
  border-bottom: 1px solid #fff;
  margin: 10px;
}
.navbarlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarlist li {
  font-family: "Rubik", sans-serif;
  color: #fff;
  text-align: center;
  display: block;
  height: 4.5rem;
  font-size: 18px;
  font-weight: 300;
  display: grid;
  justify-content: center;
  align-items: center;
}

.navbarlist li:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(124, 124, 124, 0.17);
  cursor: pointer;
}

.salir {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  text-align: center;
  height: 4rem;
  font-size: 18px;
  font-weight: 300;
  display: grid;
  justify-content: center;
  align-items: center;
}
h2:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(124, 124, 124, 0.17);
  cursor: pointer;
}

.active li {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgba(124, 124, 124, 0.17);
}
